html, body{
	font-family: 'Open Sans', sans-serif;
	color: #0D1D44;
}
/*MENU*/
#fixed-div {
    position: fixed;
    top: 1em;
    left: 1em;
    background-color: "#fff";
    z-index: 9999;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #AD2234;        
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	z-index: 1000000;
	/* min-width: 250px; */
	/* width: 23%; */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #FFF;
    display: block;
    transition: 0.3s;
}
.mItem{
    display: inline-block;
    
    padding:3px
}

.sidenav .mItem:hover{
    display: inline-block;
    border-bottom: 1px dotted #fff;
    padding:3px
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}   
/*MENU*/
.tmMain {
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: #F2F2F2;
    float: right;
}
body{
    position:absolute;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}
#s1home{
	background: url("http://52.207.9.238/cadeco/public/img/Banderas-01.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.logoContainer{
	max-width: 75%;
	text-align: center;
}
.logoContainer img{
	max-width: 90%;
	text-align: center;
}
.cdupside {
    padding-top: 115px;
}

.cdPersonItm {
    max-width: 300px;
    /* border: 1px solid gray; */
    display: inline-block;
	width: 24%;
	margin-left: 10px ;
	margin-right: 10px;
	margin-top: 15px;
	text-align: center;
}
.cdItmImg{
	text-align: center;
}

.cdMembItm{
	max-width: 320px;
    /* border: 1px solid gray; */
    display: inline-block;
	width: 30%;
	margin-left: 10px ;
	margin-right: 10px;
	margin-top: 15px;
	text-align: center;
}
.cdInfoContainer{
	text-align: left;
}
.textContent {
	border: 1px solid gray;
	position: relative;
    min-height: 100%;
    height:100%;
    margin:0px;
	padding:0px;
	display: block;
	padding:12%;
}
.fullsize{
	height: 100%;
}

.cdImgAf{
	border: 1px solid gray;
	display: inline-block;
	min-width: 125px;
	margin-left:5px;
	margin-right:5px;
}
.imageContainer{
	text-align: center;
	padding-left: 0;
	padding-right: 30px;

}
h2{
	text-align: center;
}

.card {
	text-align: justify;
}

.verMas {
	display:block;
	margin:10px;
	text-align: center;
}

.cdTitle {
	color: #0162AA;
}

.footer {
	margin-top: 25px;
    background-color: 4798D1;
    height: 275px;    
	background-color: #4798D1;
	text-align: center;
}
.footer img {
    max-width: 200px;
}

.footer ul{	
	list-style: none;
}
.footer li a{
	color:white;	
}
.footer li {
	
	display: inline;
}
